

.container{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 400px;
  padding-left: 300px;
  padding-right: 300px;
  h5{
    font-size: 2em;
    margin-bottom: 10%;
    font-family: -apple-system;
  }
}

